.NavigationItem{
    height: 100%;
    display: flex;
    align-items: center;

    a{
        color: #fff;
        text-decoration: none;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
        box-sizing: border-box;
        display: block;

        
    }
    a:active,
    a:hover,
a:focus
a.active{
            background-color: #8F5c2c;
            border-bottom-color: #40a4c8;
        }
}